html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet" media="screen,projection")
    link(href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home - direct HTTP agent
  body
    div(class="container")
      br
      h3(class="header center-align teal-text") API 一覧
      p(class="center-align") Authorization ヘッダーにはあなたの API トークン値が表示されています．各コマンドはコピーしてそのまま利用できます．
      div(class="row")
        div(class="col s12")
          div(class="card hoverable")
            div(class="card-content")
              span(class="card-title") 組織一覧の取得
              div
                pre
                  code(class="bash").
                    $ curl -s -H 'Authorization: Bearer #{user.apiToken}' https://direct-agent.krdlab.com/dapi/domains
                    [
                      {
                        id: "1234567890",
                        name: "組織1"
                      },
                      {
                        id: "1234567891",
                        name: "組織2"
                      }
                    ]
          div(class="card hoverable")
            div(class="card-content")
              span(class="card-title") トーク一覧の取得
              div
                pre
                  code(class="bash").
                    $ curl -s -H 'Authorization: Bearer #{user.apiToken}' https://direct-agent.krdlab.com/dapi/domains/${DOMAIN_ID}/talks
                    [
                      {
                        id: "12345678900",
                        name: "トーク1"
                      },
                      {
                        id: "12345678901",
                        name: "トーク2"
                      }
                    ]
          div(class="card hoverable")
            div(class="card-content")
              span(class="card-title") メッセージの送信
              div
                pre
                  code(class="bash").
                    $ curl -s -H 'Authorization: Bearer #{user.apiToken}' -H 'Content-Type: application/json' -X POST -d '{"text":"こんにちは"}' https://direct-agent.krdlab.com/dapi/domains/${DOMAIN_ID}/talks/${TALK_ID}/messages
          div(class="card hoverable")
            div(class="card-content")
              span(class="card-title") Webhook 系は未実装

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
    script(type='text/javascript').
      $(document).ready(function() {
        $('.collapsible').collapsible();
      });
      hljs.initHighlightingOnLoad();
